:root {
  --clr__primary__100: hsl(225, 100%, 94%);
  --clr__primary__200: hsla(221, 44%, 93%, 0.4);
  --clr__primary__400: hsl(245, 75%, 52%);
  --clr__neutral__300: hsl(225, 100%, 98%);
  --clr__neutral__400: hsl(224, 23%, 55%);
  --clr__neutral__500: hsl(223, 47%, 23%);
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Red Hat Display";
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr__primary__100);
  background-image: url(images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: repeat-x;
  overflow: hidden;
}
main {
  width: 320px;
  background-color: var(--clr__neutral__300);
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
}
main > img {
  width: 100%;
}

section > * {
  margin: 1rem 2rem;
}
.header {
  color: var(--clr__neutral__500);
  font-weight: 900;
}
.description {
  color: var(--clr__neutral__400);
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.plan__container {
  background-color: var(--clr__primary__200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;

  padding: 1rem;
  border-radius: 5px;
  font-size: 0.85rem;
}
.price {
  margin-left: -3rem;
  color: var(--clr__neutral__400);
  line-height: 1.5rem;
}
.price b {
  color: var(--clr__neutral__500);
  font-weight: 900;
}
.plan__container > a {
  color: var(--clr__primary__400);
  font-weight: 900;
  transition: 0.5s;
}
.plan__container > a:hover {
  transition: 0.5s;
  opacity: 0.7;
}
.btn__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: 1rem auto;
}
#proceed__btn,
#cancel__btn {
  min-width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 800;
  transition: 0.5s;
  font-family: "Red Hat Display";
}
#proceed__btn {
  background-color: var(--clr__primary__400);
  color: var(--clr__primary__100);
  box-shadow: 0 0.3rem 0.5rem var(--clr__neutral__400);
}
#proceed__btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}
#cancel__btn {
  background: none;
  color: var(--clr__neutral__400);
}
#cancel__btn:hover {
  cursor: pointer;
  color: var(--clr__neutral__500);
  transition: 0.5s;
}

.attribution {
  font-size: 11px;
  padding: 0.5rem;
  transition: 0.5s;
}
.attribution:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.attribution a {
  color: var(--clr__primary__400);
}
